input[type=text] {
    align-items: center;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
body{
    background-color: grey;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 3;
}
  
  .sticky + .content {
    padding-top: 60px;
}
.centered {

	color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.button {
    background-color: #d5f94f;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.button:hover {
    background-color: #4ef9e2;
}
