<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="row" style="border-bottom: 1px solid grey;height:60px;">
  <div class="col-2" style="text-align:left">
    <span><a href="">ENGLISH</a></span>
  </div>
  <div class="col-8">
    <p style="text-align:center;">The Honours of design, creativity and innovation in Moringa School</p>
  </div>
  <div class="col-2">
    <p style="float:right"><i class="fab fa-instagram"></i><i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i></p>
  </div>
</div>
<div class="row" style="border-bottom: 1px solid grey">
  <div class="col-2">
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
      <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link 1</a>
      <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link 2</a>
      <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link 3</a>
    </div>

    <!-- Page Content -->
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div>
      <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
    </div>

    <script>
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }
    </script>
  </div>
  <div class="col-7">
    <h5>search</h5>
  </div>
  <div class="col-2">
    <h5>REGISTER/LOG IN</h5>
  </div>
  <div class="col-1">
    <h5>SUBMIT PROJECT</h5>
  </div>
</div>

<body>

</body>

</html>