<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="row" style="border-bottom: 1px solid grey;height:60px; margin-top: 15; border-top: 0px solid grey;">
  <div class="col-2" style="text-align:left; margin-top: 15px;">
    <span><a href="">ENGLISH</a></span>
  </div>
  <div class="col-8">
    <p style="text-align:center; margin-top: 15px;">The Honours of design, creativity and innovation in Moringa School</p>
  </div>
  <div class="col-2" style="text-align:center; margin-top: 15px;"><p style="float:right">
    <i class="fab fa-instagram" style="margin-right:10px;">

    </i><i class="fab fa-facebook-f" style="margin-right:10px;">

    </i><i class="fab fa-twitter" style="margin-right:10px;"></i>
  </p>
</div>
</div>
<div class="row" style="border-bottom: 1px solid grey">
  <div class="col-2">
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>
      <a href="{% url 'add_profile' %}" class="w3-bar-item w3-button w3-border-bottom">Add Profile  </a>
      <a href="{% url 'upload' %}" class="w3-bar-item w3-button w3-border-bottom">Add Projects</a>
      <a href="/logout" class="w3-bar-item w3-button w3-border-bottom">Log Out</a>
    </div>

    <!-- Page Content -->
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div>
      <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
    </div>

    <script>
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }
    </script>
  </div>
  <div class="col-7" style="text-align:left; margin-top: 15px;">
    <form class="form-inline mx-auto" role="search" action="{% url 'search_results' %}" method="get">
      <div class="form-group">
        <input type="text" class="form-control" role="search" placeholder="&#xf002; search username" aria-label="Search" name="username">
      </div>
    </form>
  </div>
  <div class="col-2" style="text-transform: uppercase;">
    <h5>REGISTER/LOG IN</h5>
  </div>
  <div class="col-1">
    <h5>SUBMIT PROJECT</h5>
  </div>
</div>

<body>

</body>

</html>