<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: rgb(255, 187, 0);" style="font-size: 25px">
    <div class="container">
      <a class="navbar-brand ml-3" href="{% url 'home' %}" title="Honours Home" style="font-size: 30px"> HONOURS  </a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% if user.is_authenticated %} 
        <li class="nav-item">
          <a class="nav-link" href="#" title="User">{{user}}</a>
        <li class="nav-item mx-1">
          <a class="nav-link" href="/profile/{{user.id}}" title="profile"><i class="far fa-user-circle fa-2x"></i></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" title="Logout"><i class="fas fa-sign-out-alt fa-2x"></i></i></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-outline-secondary btn-sm" href="/accounts/login/">Sign In</a> 
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-secondary btn-sm" href="/signup/">Sign Up</a>
        </li>
        {% endif %} 
      </ul>
    </div>
      
    </div>

</nav>
</body>

</html>